[user]
	name = Marius Serban
	email = marius.serban@protonmail.com
	signingkey = 7AB0D7C2
[commit]
	gpgsign = true
[core]
	excludesfile = /Users/marius/.gitignore_global
[push]
	default = simple
[alias]
	lg = log --oneline --decorate
	lga = log --all --oneline --decorate --graph
	staged = diff --cached
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[fetch]
	prune = true
